ul.icons {
  padding: 0;
  font-size: 1rem;
  margin-bottom: 20px;
  text-align: right;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  justify-content: end;
  gap: 0.75rem;
  max-width: 20rem;
  margin-left: auto;
  margin-right: 0;
}

ul.icons li {
  list-style: none;
}

ul.icons a {
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.75rem;
  height: 2.75rem;
  text-align: center;
  border: 0;
  box-shadow: none;
  padding: 0;
  border-radius: 100%;
  color: #aaa;
  background: transparent;
}

ul.icons a:hover {
  background: rgba(0, 0, 0, 0.025);
}

.icons i {
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  ul.icons {
    grid-template-columns: repeat(4, auto);
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}

.dark {
  .icons i {
    background: none;
    color: #222;
  }

  .icons a:hover i {
    color: #e6e6e6;
  }
}
